.inside-belly {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: url('../public/images/belly_back1.png');
    background-size: cover;
    background-position: center;
}

.description {
    font-size: 30px;
    color: black;
    margin-bottom: 5px;
}