.login-container {
  position: absolute;
  top: 70%;
  left: 70%;
  transform: translate(-50%, -50%);
  background-color: #e0e0ff;
  padding: 20px;
  border-radius: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  border: 0px;
}

.login-input:focus {
  outline: 1px solid #8888ff;
}

.login-input {
  font-family: "GangwonEdu_OTFBoldA";
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border: 0px;
  border-radius: 10px;
  font-size: 15px;
}

.login-button {
  font-family: "GangwonEdu_OTFBoldA";
  width: calc(70% - 10px);
  padding: 10px;
  margin: 10px 5px 0;
  border-radius: 10px;
  background-color: #8888ff;
  color: white;
  cursor: pointer;
  border: 0px;
  font-size: 15px;
}

.register-button {
  font-family: "GangwonEdu_OTFBoldA";
  width: calc(30% - 10px);
  padding: 10px;
  margin: 10px 5px 0;
  border: 0px;
  border-radius: 10px;
  background-color: #8888ff;
  color: white;
  cursor: pointer;
  font-size: 15px;
}

.login-button:hover {
  background-color: #6666cc;
}
